
.NavBar-Contenedor{
    /*background-color: aqua;*/
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    /*text-align: center;*/
}
.NavBar-Texto{
    margin: 0px;
    padding: 0px;
    width: 100%;
    /*background-color: bisque;*/
    background-image: url(../../assets/fotos/fotoferreteria5-min.png);
    align-items:center;
    text-align: center;
}
.Titulo{
    font-family: "times new roman";
    font-size: 50px;
    color:black;
}
.Alinear{
    float: left;
    display: inline;
}
.AlinearDerecha{
    float: right;
}
